body {
  min-width: 320px;
  color: #367ef9;
}

#calc-modal{
  padding-left: 0px;
}

body .close {
  margin-bottom: 10px;
  text-align: right;
  color: #367ef9;
  outline: none;
}

body .close:hover {
  color: #367ef9;
  opacity: 1 !important;
}

body .btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

body .btn-open-modal {
  margin-top: 50px;
}

body .btn-info,
body .btn-info:focus {
  background-color: transparent;
  border: 2px solid #367ef9;
  color: #367ef9;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .btn-info:hover,
body .btn-info:focus:hover {
  background-color: #367ef9;
  border: 2px solid #367ef9;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .modal-header {
  border: none;
}

body .modal-content {
  padding: 20px 20px 20px 50px;
  border-radius: 50px;
}

body .modal-calc-header__result {
  text-align: center;
  border: 2px solid #367ef9;
}

body .modal-calc-header__result span {
  line-height: 36px;
}

body .calc p {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

body .calc input {
  max-width: 100%;
}

body .calc input[type="checkbox"] {
  visibility: hidden;
  width: unset;
  position: absolute;
  left: 2px;
  top: 40%;
}

body .calc input[type="checkbox"]:checked ~ .calc__row-number {
  background-color: #38cd4f;
}

body .calc .calc__rows-row input {
  font-size: 0.6rem;
  color: #367ef9;
  padding: 0 5px;
  font-weight: bold;
}

body .calc .calc__rows-row input::-webkit-input-placeholder {
  color: #367ef9;
}

body .calc .calc__rows-row input:-ms-input-placeholder {
  color: #367ef9;
}

body .calc .calc__rows-row input::-ms-input-placeholder {
  color: #367ef9;
}

body .calc .calc__rows-row input::placeholder {
  color: #367ef9;
}

body .calc .group-checkbox {
  display: inline-block;
  position: absolute;
  left: -13px;
  top: 50%;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  padding: 5px;
}

body .calc .group-checkbox label {
  width: 20px;
  height: 20px;
  display: block;
}

body .calc .group-checkbox label:last-child {
  margin-bottom: 0;
}

body .calc__rows {
  position: relative;
}

body .calc__rows-row {
  position: relative;
}

body .calc .calc__rows-row {
  border: 2px solid #367ef9;
  margin-bottom: -2px;
}

body .calc .col-calc__result {
  border-left: 2px solid #367ef9;
}

body .calc .row .col-3,
body .calc .row .col-4,
body .calc .row .col-6,
body .calc .row .col {
  padding-bottom: 8px;
  padding-top: 5px;
}

body .calc .group-checkbox label,
body .calc .group-checkbox,
body .calc .col-4 input,
body .calc .col-6 input,
body .calc .col-3 input,
body .calc col input {
  border: 2px solid #367ef9;
}

body .calc__result {
  border: 2px solid transparent !important;
}

body .modal-calc-header__result {
  margin-bottom: -2px;
  padding: 0;
}

body .checkbox-checked {
  background: url(../img/check-box_check.png) no-repeat;
  background-position: center;
  background-size: contain;
}

.calc__math-actions input {
  visibility: hidden;
  position: absolute;
}

.calc__math-actions input:checked + label::before {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #367ef9;
  position: absolute;
  left: 9px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.calc__math-actions label {
  position: relative;
  padding: 2px 15px 2px 35px;
  border: 2px solid #367ef9;
}

.calc__math-actions label::after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #367ef9;
  position: absolute;
  left: 5px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
/*# sourceMappingURL=index.css.map */